.stepper:not(.stepper ~ .stepper) {
  margin-bottom: 6.4rem;
}

.main > .stepper ~ .stepper {
  transform: translate(0, 50%);

  & span {
    background-color: $clr-white;
  }
}

.hero {
  position: relative;
  margin-bottom: 20rem;

  @include respond(max-width, 32em) {
    margin-bottom: 15rem;
  }

  &__content {
    max-width: 85ch;
    margin: 0 auto;
    text-align: center;

    & button:first-of-type {
      margin-right: 1.6rem;
      @include respond(max-width, 25.62em) {
        margin-bottom: 1rem;
      }
    }
  }

  &__title {
    text-wrap: balance;
    margin-bottom: 3.4rem;
  }

  &__text {
    margin-bottom: 3.2rem;
  }

  &__image {
    $margin: -3.2rem;

    @include respond(max-width, 82em) {
      display: none;
    }

    position: absolute;
    &-right {
      bottom: 0;
      right: $margin;
    }
    &-left {
      top: -4.7rem;
      left: $margin;
    }
  }

  &__image-tablet {
    margin-bottom: 7.2rem;
    margin-inline: auto;

    @include respond(min-width, 82em) {
      display: none;
    }
  }
}

.feature {
  margin-bottom: 15.6rem;
  &__images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 3rem;
    margin-bottom: 8rem;

    @include respond(max-width, 82em) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }

  &__image {
    border-radius: 0.8rem;
  }

  &__article {
    max-width: 77ch;
    margin: 0 auto;
    text-align: center;
  }

  &__subtitle {
    margin-bottom: 1.6rem;
  }

  &__title {
    text-wrap: balance;
    margin-bottom: 3.2rem;
  }
}
