.footer {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
      to bottom,
      $clr-primary,
      rgba($clr-primary, 0.7)
    ),
    url(/assets/desktop/image-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 30rem;

  &__content {
    display: grid;
    align-items: center;

    justify-content: space-between;
    grid-template-columns: 35rem 35rem max-content;

    @include respond(max-width, 64em) {
      justify-items: center;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
    }
  }

  &__title {
    color: $clr-white;
  }
  &__explanation {
    color: $clr-white;
  }
}
