// Colors
$clr-primary: #4d96a9;
$clr-primary-hover: #8fe3f9;
$clr-secondary: #855fb1;
$clr-secondary-hover: #d9d8ff;
$clr-black: #28283d;
$clr-gray: #87879d;
$clr-white: #fafafa;

// Font familiy
$ff-primary: "Red Hat Display", sans-serif;

// Font size
$fs-300: 1.6rem;
$fs-400: 1.8rem;
$fs-700: 4rem;
$fs-900: 6.4rem;

// Font weight
$fw-regular: 500;
$fw-bold: 900;

// Line height
$lh-400: 2.6rem;
$lh-700: 4.4rem;
$lh-900: 6.4rem;

// Letter spacing
$ls-400: 4px;
